@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

$primary:  #6495ED;
$done:     #006400;
$critical: #8B0000;
$pending:  #FFD700;
$default:  #F0F8FF;
$warning:  #B22222;
$desc-bg:  #D3D3D3;
$todo-card-title: #191970;






