@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

$primary:           #5F9EA0;
$done:              #006400;
$critical:          #8B0000;
$pending:           #FFD700;
$default:           #F0F8FF;
$warning:           #da3e3e;
$white:             #FFFFFF;
$desc-bg:           #D3D3D3;
$background:        #F0F0F0;
$todo-card-title:   #191970;






